
<!--Шаблон для страницы-->
{% extends 'index.html' %}

<!--Загрузка своих фильтров, если есть-->
<!-- load custom_filters -->

<!--Блок заголовка-->
{% block title %} Создание объявления {% endblock title %}

<!--Блок ссылки-->
{% block link %}<!--Ссылка-->{%endblock link %}
<!--Блок имени ссылки-->
{% block namelink %}<!--Имя ссылки-->{% endblock namelink %}

<!--Блок заголовка раздела-->
{% block title2 %}Создать:{% endblock title2 %}

<!--Блок контента страницы-->
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>

{% endblock content %}

<!--Блок пагинации-->
{% block page %}{% endblock page %}