<!--Шаблон для страницы-->
{% extends 'index.html' %}

<!--Загрузка своих фильтров, если есть-->
<!-- load custom_filters -->

<!--Блок заголовка-->
{% block title %} Главная. Объявления. {% endblock title %}

<!--Блок ссылки-->
{% block link %}
"create/"
{% endblock %}
<!--Блок имени ссылки-->
{% block link1 %}
Добавить объявление.
{% endblock link1 %}

<!--Блок заголовка раздела-->
{% block title2 %}

{% if Объявления %}
<h1>Объявления:</h1>
{% else %}
<h1>Объявлений нет! Заходите позднее!</h1>
{% endif %}

{% endblock title2 %}

<!--Блок контента страницы-->
{% block content %}

{% for Объявление in Объявления %}
<br>
<hr>
<br>
<br>
{{ Объявление.dateCreation|date:'d F Y' }}
<br>
Категория: {{ Объявление.category }}
<br>
<br>

<h4><a class="nav-link" href="{{ Объявление.id }}">{{ Объявление.title }}</a></h4>

<br>
{{ Объявление.text|truncatechars:150 }}
{% endfor %}

{% endblock content %}

<!--Блок пагинации-->
{% block page %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock page %}