
<!--Шаблон для страницы-->
{% extends 'index.html' %}

<!--Загрузка своих фильтров, если есть-->
<!-- load custom_filters -->

<!--Блок заголовка-->
{% block title %} <!--Заголовок--> {% endblock title %}

<!--Блок ссылки-->
{% block link %}<!--Ссылка-->{%endblock link %}
<!--Блок имени ссылки-->
{% block namelink %}<!--Имя ссылки-->{% endblock namelink %}

<!--Блок заголовка раздела-->
{% block title2 %}{% endblock title2 %}

<!--Блок контента страницы-->
{% block content %}

ОТКЛИКИ
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       <label>{{ filter.form }}</label>
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>


{% if Отклики %}
{%for Отклик in Отклики %}
{% if request.user == Отклик.announcement.author %}
<br>
    ID объявления: {{ Отклик.announcement.id }}.  Заголовок объявления: {{ Отклик.announcement.title }}
<br>
    Текст объявления: "{{ Отклик.announcement.text|truncatechars:100 }}"
<br>
    Автор отклика: {{ Отклик.member }}
<br>
    Текст отклика: "{{ Отклик.text }}"
<br>
{% if Отклик.confirm == 0 %}
<p>
    <a href="{% url 'respond_confirm' id_respond=Отклик.id %}"><button>Принять</button></a>
</p>
{% else %}
<p>
    <br>
    Отклик уже принят!
</p>

{% endif %}
<a href="{% url 'respond_delete' id_respond=Отклик.id %}"><button>Удалить</button></a>
<hr>

{% endif %}
{% endfor %}
{% else %}
<br>
Нет откликов.
<hr>
{% endif %}



{% endblock content %}

<!--Блок пагинации-->
{% block page %}{% endblock page %}